body{
    background-color: black;
    display: grid;
    justify-content: center;
}

.mainContainer{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.subContainer{
    border: 2px white solid;
    border-radius: 10px;
}

h1, h2{
    color: white;
    text-align: center;
}

button{
    width: 10vw;
    background-color: blue;
    border-color: blue;
    border-radius: 10px;
    margin: 1vw;
    color: white;
    font-weight: bold;
}

button:hover{
    background-color: rgb(0, 0, 150);
}

.genContainer, .typeContainer{
    display: none;
}

.byButton{
    width: 5%;
}

@media (pointer:none), (pointer:coarse){
    .mainContainer{
      display: block;
    }
    img{
        width: 100%;
    }
    body{
        justify-items: center;
    }
    button{
        width: 28vw;
        margin: 7%;
    }
    .desktop{
        display: none;
    }
}