body{
    background-color: black;
    display: grid;
    justify-content: center;
}

.mainContainer{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.subContainer{
    border: 2px white solid;
    border-radius: 10px;
    min-width: 37vw;
    min-height: 43vw;
}

h1, h2{
    color: white;
    text-align: center;
}


